<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="music.gjl.flutter.demo.com.flutter_app_forlearn">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
